body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #555555;
  margin-bottom: 60px;
}

h4{
  font-size: 20px;
}

h3{
  margin-left: 10px;
}

html{
  position: relative;
  min-height: 100%;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #c3c3c3;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 17px 0 0 0;
  font-size: 18px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar-header, li > a{
  font-family: 'Oswald', sans-serif;
 }

 .navbar-header{
  padding-left: 50px;
  padding-right: 100px;
 }

 .navbar-header > a{
  font-size: 26px;
 }


label[for="cell"] input.cell{
	width: 65%;
  height: 30px;
  margin-bottom: 5px;
}

.vals{
  height: 30px;
  margin-bottom: 5px;
}

.zero{
  color: #cccccc;
}


img{
  width: 10px;
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.result{
  max-width: 55px;
  min-width: 55px; 
  height: 30px;
  text-align: center;
}

.resumo{
  width: 100%;
  height: 30px;
}

#matriz{
	white-space: nowrap;
}

.align{
  display: inline-block;
  vertical-align: top;
}

.box{
	display: table;
}
.row-m{
	float: left;
	display: table;
}

span{
	font-size: 100%;
}

label[for="cell"]{
	float: left;
	font-size: 100%;
	width: 8%;
	vertical-align: top;
	display: table-cell;
}


.container-fluid.col-sm-4.right-border{
  border-right: 3px solid #555555;
  border-radius: 10px;
}
.container-fluid.row.bg-3.top{
  padding-bottom: 0px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.col-sm-12{
  background-image: url(../imgs/dl_bg10.png);
  background-position: 0px 0px;
  border-radius: 15px;
  color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

#resumo{
  padding-top: 15px;
}
#resultado{
  padding-top: 15px;
}

.right-border{
  border-right: 3px solid #555555;
  border-radius: 10px;
}

#container_resultado{
  border-left: 3px solid #555555;
  border-bottom: 3px solid #555555;
  border-right: 3px solid #555555;
  margin: 0px;
  padding: 0px;
  border-radius: 15px;
}

.bg-3 {
  font: 16px Montserrat, sans-serif;
}

input.error{   
  border-color: rgba(255, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: 0 none;
}

.bg-1 {
  background-image: url(../imgs/dl_bg10.png);
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff; 
  padding-top: 50px;
  padding-bottom: 50px;
}

.bg-2 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
  position: fixed;
  bottom:0px;
  left:0px;
  right:0px;
  width: 100%;
  line-height: 20px;
}